doctype html
html
    head
        title Puzzle
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        link(rel='stylesheet' href='/style.css') 

    body
        div.container-md(style='padding:20px;display:flex;flex-direction:column;justify-content:center;align-items:center;position:relative')
            img(src="/asset/kavi2-removebg-preview.png", alt="" style='width:7%;padding:.5em;position:absolute;right:0;top:2%')
            h1(style='color:white;margin-top:1em') Enter the exercise name to start with...
            div.button-class-1(style='height:450px').content 
                input(type="text" value="#{exname}" style='height:3em;border-radius:.5em;font-size:1.3em;text-align:center' name='exerciseName' placeholder='Enter exercise name and click submit button...' class='inputEX')
                a(href='/post/threeWord' class='three') Three words sentence
                a(href='/post/fourWord' class='four') Four words sentence
                a(href='/post/fiveWord' class='five') Five words sentence
                a(href='/post/adminbtn').quit-a Back
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')        
        script. 
                let inp =document.querySelector('.inputEX')
                $(document).ready(function() {
                    $('.three').click(function() {
                    var myData = 3;
                    $.ajax({
                        url: "/post/exerciseNameStoring",
                        method: "POST",
                        data: { myData: myData, input: inp.value },
                        success: function(response) {
                        console.log(response);
                        },
                        error: function(err) {
                        console.log(err);
                        }
                    });
                    });
                    $('.four').click(function() {
                    var myData = 4;
                    $.ajax({
                        url: "/post/exerciseNameStoring",
                        method: "POST",
                        data: { myData: myData, input: inp.value },
                        success: function(response) {
                        console.log(response);
                        },
                        error: function(err) {
                        console.log(err);
                        }
                    });
                    });
                    $('.five').click(function() {
                    var myData = 5;
                    $.ajax({
                        url: "/post/exerciseNameStoring",
                        method: "POST",
                        data: { myData: myData, input: inp.value },
                        success: function(response) {
                        console.log(response);
                        },
                        error: function(err) {
                        console.log(err);
                        }
                    });
                    });
                });
                
                