doctype html
html
    head
        title Puzzle
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        link(rel='stylesheet' href='/style.css') 

    body
        div.container-md.viewpageContainer
            div.headerViewpage 
            div.content-div
                div.adminpageimg
                    h2(style='color:white').addpageheading WELCOME TO ADMIN PAGE
                    img(src="/asset/thinking-1.png" ).img-style-rigth
                    img(src="/asset/i am possible.png").impossible
                div.button-class-1.addpagecontent.content 
                    input(type="text" value="#{exname}" name='exerciseName' placeholder='Enter exercise name and click the button...' class='inputEX').input-add-existing
                    a(href='/post/threeWord' class='three') Three words sentence
                    a(href='/post/fourWord' class='four') Four words sentence
                    a(href='/post/fiveWord' class='five') Five words sentence
                    a(href='/post/adminbtn').quit-a Back
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(type="text/javascript" src="/header.js")        
        script. 
                let inp =document.querySelector('.inputEX')
                $(document).ready(function() {
                    $('.three').click(function() {
                    var myData = 3;
                    $.ajax({
                        url: "/post/exerciseNameStoring",
                        method: "POST",
                        data: { myData: myData, input: inp.value },
                        success: function(response) {
                        console.log(response);
                        },
                        error: function(err) {
                        console.log(err);
                        }
                    });
                    });
                    $('.four').click(function() {
                    var myData = 4;
                    $.ajax({
                        url: "/post/exerciseNameStoring",
                        method: "POST",
                        data: { myData: myData, input: inp.value },
                        success: function(response) {
                        console.log(response);
                        },
                        error: function(err) {
                        console.log(err);
                        }
                    });
                    });
                    $('.five').click(function() {
                    var myData = 5;
                    $.ajax({
                        url: "/post/exerciseNameStoring",
                        method: "POST",
                        data: { myData: myData, input: inp.value },
                        success: function(response) {
                        console.log(response);
                        },
                        error: function(err) {
                        console.log(err);
                        }
                    });
                    });
                });
                
                