doctype html
html
    head
        title Puzzle
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        link(rel='stylesheet' href='/style.css')
    body
        div.container-md.viewpageContainer
            div.headerViewpage 
            div(style='width:100%;display:flex;flex-direction:row').flex-row
                div.side-div   
                    div 
                        h1 
                            img(src="/asset/delete.png", alt="", srcset="" style='width:5%;margin-top:-.3em')
                            span(style='color:white;margin-left:.3em') The 
                            span(style='color:white') rearrange 
                            span(style='color:white') sentences jumbled 
                        h1 
                            img(src="/asset/check-mark.png", alt="", srcset="" style='width:6%;margin-top:-.3em')
                            span(style='color:white;margin-left:.3em') Rearrange the jumbled sentences
                            span.img-left-side    
                div(style='width:30%;height:300px;margin-left:10%').adimStudentpage.content
                    div.button-class(style='margin-top:2em') 
                        a(href='/post/login' style='color: white').admincontent-one.paddingTop Admin 
                        a(href='/post/studentLogin' style='color: white;').admincontent-two.paddingTop-st Student 
                        //- a(href='/post/level1not/result') 

        script(type="text/javascript" src="/header.js")
        script. 
                let about = document.querySelector('.aboutDet')
                let enabilityAbout =document.querySelector('.aboutEnability')
                enabilityAbout.addEventListener('click',()=>{
                    location.replace('/post/about/enabilty')
                })
                
